{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix", "eslint", "jest"],
  "*.json": ["prettier --write"],
  "*.{test.tsx,test.jsx,test.ts}": [
    "prettier --write",
    "eslint --fix",
    "eslint",
    "jest"
  ]
}
